
@media only screen and (min-width: 768px) {
  .page-app {
    height: 109vh;
  }
}
.page-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin: 32px; */
  padding: 32px;
  position: relative;
  overflow: hidden;
}

.page-app-link {
  max-width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transform: translateX(100vw);
  transition: opacity .4s ease-out, transform .4s ease-in;
}
#mobile {
  width: 70%;
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #mobile {
  width: 50%;
}
}
.page-app-active {
  position: static;
  opacity: 1;
  transform: translateX(0);
}
.page-app-image {
  /* display: none; */

  box-shadow: 0 0 10px 2px var(--text-dark);
  border-radius: 5px;
}
.page-app-description {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  /* text-align: justify; */
}

.page-app-controls {
  position: absolute;
  left: 10%;
  padding: 16px;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 80%;
  text-align: center;
  font-family: "Jura", sans-serif;
  font-size: 0.8rem;
  color: var(--text-dark-5);
  transition: all 0.3s ease-out;
}
@media only screen and (min-width: 768px) {
  .page-app-controls {
    bottom: 56px;
  }
}
.control {
  padding:  8px;
}
.ctrl-click {
  cursor: pointer;
}
.controls-description {
  width: 100%;
  padding: 16px;
  text-align: center;
  color: var(--app-color);
  background-color: rgba(37, 37, 37, 0.1);
}
.mobile-landscape {
  display: none;
}
@media only screen and (min-width: 470px) {
  .mobile-landscape {
    display: block;
  }
  .mobile-portrait {
    display: none;
  }
  #desktop {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
  .page-app-container {
    height: 100vh
  }
  .page-app-link {
    max-width: 40%;
  }
  .page-app-controls {
    bottom: -8px;
  }
}