.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
}
.contact-links-container {
  margin-top: 0.8em;
}
.contact-link {
  display: inline-block;
  margin: 0 8px;
  font-size: 1.7rem;
  color: inherit;
  cursor: pointer;
}
.copy-mail-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  font-size: 0.8rem;
  font-style: italic;
}
.copy-icon {
  padding: 0 4px;
  font-size: 1.2rem;
  cursor: pointer;
}
.copy-sub {
  font-size: 0.8rem;
}
.copy-mail,
.copy-success-message {
  font-weight: 300;
  margin-right: 8px;
}
.copy-success {
  display: none;
}
.copy-success-message {
  display: block;
}
