.list-tag {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(4, 1fr);
}
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: .7rem;
    text-transform: capitalize;
    color: var(--app-color);
    text-align: center;
    background-color: var(--app-grey);
    border-radius: 5px;
}
.header {
    font-size: .7rem;
    text-transform: capitalize;
    padding: 8px 0;
    font-weight: 400;
    text-align: center;
}

@media only screen and (min-width: 769px) {
    .tag { 
        padding: 16px;
        font-size: .8rem;
    }
    .header {
        font-size: .8rem;
    }
}
