.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
}
.contact-links-container {
  margin-top: 0.8em;
}
.contact-link {
  display: inline-block;
  margin: 0 8px;
  font-size: 1.7rem;
  color: inherit;
  cursor: pointer;
}
.copy-mail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  font-size: 0.8rem;
  font-style: italic;
}
.copy-icon {
  padding: 0 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all .5s ease-out;
}
.copy-sub {
  font-size: 0.8rem;
}
.copy-message-container {
  position: relative;
}
.copy-mail,
.copy-success-message {
  font-weight: 300;
  margin-right: 8px;
}
.copy-success {
  position: absolute;
  left: 0;
  opacity: 0;
}
.copy-success-message {
  position: relative;
  opacity: 1;
  display: block;
  text-align: right;
  transition: opacity .3s ease-out;
}
